.feature-icon {
  width: 70px;
  height: 70px;
}
.feature-list {
  display: flex;
  gap: 30px;
  & .title {
    @include font(700, 14px, 1.14, 0.03em);
    color: var(--title-text-color);
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}
.feature-list-item {
  width: calc((100% - 90px) / 4);
}
.list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-image: url(../images/bg-feature.jpg);
}
