.feature-icon {
  width: 70px;
  height: 70px;
}
.feature-list {
  display: flex;
  gap: 30px;
  & .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}
.feature-list-item {
  width: calc((100% - 90px) / 4);
}
.list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-image: url(../images/bg-feature.jpg);
}
