.footer {
  background-color: var(--secondary-color-dark);
  padding-top: 60px;
  padding-bottom: 60px;
  & .logo-s {
    color: var(--white-color);
  }
  & .logo {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
  }
  & .address-link:hover,
  & .address-link:focus {
    color: var(--accent-color);
  }
  & .link:hover,
  & .link:focus {
    color: var(--accent-color);
  }
}
.footer-container {
  display: flex;
  gap: 70px;
  align-items: baseline;
}
.address-link {
  @include font(null, 14px, 1.71, null);
  color: var(--white-color);

  font-style: normal;
  text-decoration: none;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list .link {
  @include font(null, 14px, 1.71, null);
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-soc {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.footer-list-icon {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.footer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.footer-soc-icon {
  width: 20px;
  height: 20px;
  fill: var(--white-color);
}

.soc-text {
  @include font(700, 14px, 1.14, 0.03em);
  color: var(--white-color);
  text-transform: uppercase;
}
.sub-input {
  display: flex;
  justify-content: center;
}
.subscription-container {
  display: flex;
  flex-direction: column;
}
.subscription {
  @include font(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white-color);
}
.footer-field {
  margin-right: 12px;
}
.input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.footer-icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
.btn-submit {
  @include font(700, null, null, 0.06em);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  width: 200px;
  height: 50px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
    border: 1px solid var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
