.hero {
  background-color: var(--secondary-color-dark);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/img-bg-hero.jpg);
  max-width: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-right: auto;
  margin-left: auto;
}
.hero-title {
  @include font(900, 44px, 1.36, 0.06em);
  color: var(--white-color);

  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.button.primary {
  @include font(700, 16px, 1.9, 0.06em);
  color: var(--white-color);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
