.button-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.button.secondary {
  color: var(--title-text-color);
  background-color: var(--secondary-color-btn);
  border: 0px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  padding: 6px 22px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.project-list-container {
  position: relative;
  overflow: hidden;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  & .text {
    font-size: 16px;
    line-height: 1.88;
  }
  & .title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  & .link {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #eeeeee;
  }
  & .link:hover,
  & .link:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  & .link:hover .project-descr,
  & .link:focus .project-descr {
    transform: translateY(0);
  }
}
.project-descr {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .project-list-container:hover &,
  .project-list-container:focus & {
    transform: translateY(0);
  }
}

.project-list-text-wrapper {
  padding: 30px 15px;
}

.project-list-item {
  width: calc((100% - 60px) / 3);
}
